<div class="container reactive-form-validation">
  <form [formGroup]="amountGroup" (ngSubmit)="submit()">

    <div class="col-4">
      <label for="amount" class="form-label">Amount</label>

      <div class="">

        <input type="text"
               class="form-control"
               id="amount"
               placeholder="0.00"
               [formControl]="toControl('amount')"
               [class.is-valid]="isValid('amount')"
               [class.is-invalid]="isInvalid('amount')"
        >

        <div class="invalid-feedback" *ngIf="toControl('amount').errors?.required">
          * Value must be provided.
        </div>

        <div class="invalid-feedback" *ngIf="toControl('amount').errors?.message">
          * {{ toControl('amount').errors?.message }}
        </div>

      </div>
    </div>

    <!--      <label for="currency" class="form-label">Currency</label>-->

    <div class="col-4 mt-3 mb-3">

      <app-dropdown
        [id]="'currency'"
        [label]="'Currency'"
        [placeholder]="'Select currency...'"
        [formControlState]="toControl('currency')"
        [items]="currencies"
      ></app-dropdown>

      <!--        <ng-select id="currency"-->
      <!--                   bindLabel="label"-->
      <!--                   bindValue="value"-->
      <!--                   [formControl]="toControl('currency')"-->
      <!--                   [selectOnTab]="true"-->
      <!--                   [clearable]="false"-->
      <!--                   [class.is-valid]="isValid('currency')"-->
      <!--                   [class.is-invalid]="isInvalid('currency')"-->
      <!--        >-->
      <!--          <ng-option *ngFor="let item of currencies"-->
      <!--                     [value]="item">-->
      <!--            {{ item}}-->
      <!--          </ng-option>-->
      <!--        </ng-select>-->

      <!--        <div class="invalid-feedback" *ngIf="toControl('currency').errors?.required">-->
      <!--          * Value must be provided.-->
      <!--        </div>-->

    </div>

    <div class="col-4">
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>

  </form>
</div>
