<div class="row">

  <div class="col-2">
    <div class="fs-25">Section</div>
    <hr/>

    <ng-container *ngFor="let section of sections">
      <div class="mb-3" [class.error]="isShowErrorSection(section.name)">{{ section.label }}</div>
    </ng-container>
  </div>

  <div class="col-10">
    <div class="form-label fs-25">Beneficiary Form</div>
    <hr/>

    <ngx-bootstrap-spinner></ngx-bootstrap-spinner>

    <ng-container *ngIf="(beneficiaryResource$ && beneficiaryResource$ | async) as beneficiaryResource">

      <form [formGroup]="formGroupState" (ngSubmit)="submitForm()">

        <app-beneficiary-info
          [resource]="beneficiaryResource"
          [componentConfig]="componentConfig"
          [formGroupState]="formGroupState"
        ></app-beneficiary-info>

        <app-address
          [addressResource]="beneficiaryResource.address"
          [componentConfig]="componentConfig"
          [formGroupState]="formGroupState"
        ></app-address>

        <app-beneficiary-bank-list
          [beneficiaryBankResource]="beneficiaryResource.beneficiaryBank"
          [componentConfig]="componentConfig"
          [formGroupState]="formGroupState"
        ></app-beneficiary-bank-list>

        <div class="mb-3">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>

      </form>

    </ng-container>

  </div>

</div>


