<ng-template #currencyDropdown>
  <ng-select class="col-4"
             bindLabel="label"
             bindValue="value"
             [formControl]="currencyFormControlState"
             [selectOnTab]="true"
             [clearable]="false"
             (change)="currencyChanged($event)"
  >
    <ng-option *ngFor="let item of currencies"
               [value]="item">
      {{ item}}
    </ng-option>
  </ng-select>
</ng-template>

<app-input-field
  [id]="id"
  [type]="'text'"
  [label]="label"
  [required]="required"
  [formControlState]="tempAmountFormControlState"
  (stateChanged)="amountChanged($event)"
  [rightTemplate]="currencyDropdown"
  [inputParentClassStyle]="'row no-gutters input-with-dropdown'"
>
</app-input-field>
