<ng-template #currencyDropdown>

  <app-dropdown
    class="col-4"
    [id]="'currency'"
    [placeholder]="'Select currency...'"
    [formControlState]="currencyFormControlState"
    [items]="currencies"
    (stateChanged)="currencyChanged($event)"
  ></app-dropdown>

</ng-template>

<app-input-field
  [id]="id"
  [type]="'text'"
  [label]="label"
  [required]="required"
  [formControlState]="tempAmountFormControlState"
  (stateChanged)="onAmountChanged($event)"
  [rightTemplate]="currencyDropdown"
  [inputContainerClassStyle]="'row no-gutters input-with-dropdown'"
  [inputFieldClassStyle]="'col-8'"
>
</app-input-field>
