<app-form-control
  [type]="inputType"
  [label]="label"
  [placeholder]="placeholder"
  [required]="required"
  [showError]="showError"
  [formControlState]="formControlState"
>

  <div [class]="inputContainerClassStyle">

    <ng-container *ngIf="leftTemplate">
      <ng-container *ngTemplateOutlet="leftTemplate"></ng-container>
    </ng-container>

    <input
      *ngIf="inputType === 'text'"
      class="form-control"
      [id]="id"
      [type]="inputType"
      [class]="inputFieldClassStyle"
      (change)="stateChanged.emit(formControlState.value)"
      [placeholder]="placeholder"
      [formControl]="formControlState"
      [class.is-valid]="isCurrentControlValid()"
      [class.is-invalid]="isCurrentControlInvalid()"
    />

    <textarea
      *ngIf="inputType === 'textarea'"
      class="form-control"
      [id]="id"
      [rows]="'rows'"
    ></textarea>

    <ng-container *ngIf="rightTemplate">
      <ng-container *ngTemplateOutlet="rightTemplate"></ng-container>
    </ng-container>

    <div class="input-group-append" *ngIf="rightButtonLabel">
      <span class="input-group-text">{{ rightButtonLabel }}</span>
    </div>

    <ng-container *ngIf="showError && isCurrentControlInvalid()">
      <div [class]="'invalid-feedback'" *ngIf="formControlState.errors?.required">
        * Value must be provided.
      </div>

      <div [class]="'invalid-feedback'" *ngIf="formControlState.errors?.message">
        * {{ formControlState.errors?.message }}
      </div>
    </ng-container>

  </div>

</app-form-control>
