<ng-container *ngIf="beneficiaryBankConfig">

  <div class="mb-3">
    <div class="mb-2 fs-16"><b>Beneficiary Bank</b></div>

    <div class="row">

      <ng-container *ngFor="let control of beneficiaryBankFormArrayState.controls; let i = index">
        <div class="col-4 mb-3">

          <app-group-container>
            <div *ngIf="control.value.bankName" class="d-flex justify-content-between">
              <span>Beneficiary Bank :</span>
              <span>{{control.value.bankName}}</span>
            </div>
            <div *ngIf="control.value.swiftCode" class="d-flex justify-content-between">
              <span>Swift Code :</span>
              <span>{{control.value.swiftCode}}</span>
            </div>
            <div *ngIf="control.value.accountNumber" class="d-flex justify-content-between">
              <span>Account Number :</span>
              <span>{{control.value.accountNumber}}</span>
            </div>

            <button type="button" class="btn btn-outline-secondary mt-3 mr-3" (click)="onEdit(i, template)">Edit
            </button>
            <button type="button" class="btn btn-outline-secondary mt-3" (click)="onDelete(i)">Delete</button>
          </app-group-container>

        </div>
      </ng-container>

      <div class="col-4 mb-3">

        <app-group-container>
          <div class="d-flex justify-content-between"><span>Beneficiary Bank :</span> <span>Kushal Bank</span></div>
          <div class="d-flex justify-content-between"><span>Swift Code :</span> <span>ABCDEFGH</span></div>
          <div class="d-flex justify-content-between"><span>Account Number :</span> <span>123456789</span></div>
          <button type="button" class="btn btn-outline-secondary mt-3 mr-3">Edit</button>
          <button type="button" class="btn btn-outline-secondary mt-3">Delete</button>
        </app-group-container>

      </div>

      <div class="col-4 mb-3">

        <app-group-container>
          <div class="d-flex justify-content-between"><span>Beneficiary Bank :</span> <span>Shekhar Bank</span></div>
          <div class="d-flex justify-content-between"><span>Swift Code :</span> <span>HGFEDCBA</span></div>
          <div class="d-flex justify-content-between"><span>Account Number :</span> <span>987654321</span></div>
          <button type="button" class="btn btn-outline-secondary mt-3 mr-3">Edit</button>
          <button type="button" class="btn btn-outline-secondary mt-3">Delete</button>
        </app-group-container>

      </div>

    </div>
  </div>

  <div class="mb-3">
    <button type="button" class="btn btn-outline-primary" (click)="onAdd(template)">Add Beneficiary Bank</button>
  </div>

  <ng-template #template>

    <app-beneficiary-bank-add
      [beneficiaryBankConfig]="beneficiaryBankConfig"
      [formGroupState]="beneficiaryBankFormGroupState"
      (addOrUpdate)="addOrUpdate()"
      (closeOrCancel)="closeModal()"
    ></app-beneficiary-bank-add>

  </ng-template>

</ng-container>
