<div class="row">

  <div *ngIf="label" [class.col-6]="!labelColumnClassStyle" [ngClass]="labelColumnClassStyle">

    <span>{{ label }}</span>
    <span *ngIf="required">Required</span>

  </div>

  <div [class.col-6]="!inputColumnClassStyle" [ngClass]="inputColumnClassStyle">
      <ng-content></ng-content>
  </div>

</div>

<div class="row">
  <div [class.col-6]="!labelColumnClassStyle" [ngClass]="labelColumnClassStyle"></div>

  <div [class.col-6]="!inputColumnClassStyle" [ngClass]="inputColumnClassStyle">

    <ng-container *ngIf="showError && shouldDisplayErrorMessage()">

      <div *ngIf="validationErrors() as errors">
        <ng-container *ngFor="let error of errors">
          <span>error</span>
        </ng-container>
      </div>

    </ng-container>

  </div>
</div>
